# Commenting out the Distro's default prompt
USE_POWERLINE="false"
# Source {{ .chezmoi.osRelease.id }}-zsh-configuration
if [[ -e /usr/share/zsh/{{ .chezmoi.osRelease.id }}-zsh-config ]]; then
  source /usr/share/zsh/{{ .chezmoi.osRelease.id }}-zsh-config
fi
# Use {{ .chezmoi.osRelease.id }} zsh prompt
#if [[ -e /usr/share/zsh/{{ .chezmoi.osRelease.id }}-zsh-prompt ]]; then
#  source /usr/share/zsh/{{ .chezmoi.osRelease.id }}-zsh-prompt
#fi

eval "$(starship init zsh)"
alias ls='exa --icons --git'
export PATH=~/.npm-global/bin:$USER/.local/bin:/opt/flutter/bin:$(go env GOBIN):$(go env GOPATH)/bin:$HOME/.cargo/bin:$PATH
#export JAVA_OPTS='-XX:+IgnoreUnrecognizedVMOptions --add-modules java.se.ee'
export JAVA_HOME='/usr/lib/jvm/java-11-openjdk'
export ANDROID_SDK_ROOT='{{ .chezmoi.homeDir }}/Android/Sdk'
export PATH=$PATH:$ANDROID_SDK_ROOT/platform-tools/
export PATH=$PATH:$ANDROID_SDK_ROOT/tools/bin/
export PATH=$PATH:$ANDROID_ROOT/emulator
export PATH=$PATH:$ANDROID_SDK_ROOT/tools/
export OPENAI_API_KEY="{{ .openai.secretKey }}"
if [ -d /opt/microsoft/msedge ]; then
  export CHROME_EXECUTABLE=/opt/microsoft/msedge/msedge;
else
  export CHROME_EXECUTABLE=/usr/sbin/chromium;
fi

. /opt/asdf-vm/asdf.sh

# for scripts you don't want to keep synchronized
if test -n "$(find $HOME/.config/zsh/ -maxdepth 1 -type f -name '*.zsh' -print -quit 2>/dev/null)"; then
    for script in $HOME/.config/zsh/*.zsh; do
        source "$script"
    done
fi

if [ -f /usr/bin/neofetch ]; then
  neofetch
fi
