#set -g prefix C-Space
# use 256 xterm for pretty colors. This enables same colors from iTerm2 within tmux.
# This is recommended in neovim :healthcheck
set -g default-terminal "screen-256color"
set -ga terminal-overrides ",xterm-256color:Tc"
{{- if eq .tools.clipboard "wl-copy" }}
set -s copy-command "wl-copy"
{{- else }}
set -s copy-command "xsel -i -b"
{{- end }}
set -g mouse on
set -g base-index 1
set -g history-limit 100000
set -sg repeat-time 600

# mouse scroll will scroll window instead of shell history
setw -g alternate-screen on

# highlight window when it has new activity
setw -g monitor-activity on
set -g visual-activity on

# re-number windows when one is closed
set -g renumber-windows on

# neovim integration
set -g -a terminal-overrides ',*:Ss=\E[%p1%d q:Se=\E[2 q'

# panes 
set-window-option -g pane-base-index 1
unbind %
bind v split-window -h -c "#{pane_current_path}"
unbind '"'
bind h split-window -v -c "#{pane_current_path}"

# windows
unbind n # DEFAULT KEY: next window
unbind w # DEFAULT KEY: change current window
bind n command-prompt "rename-window '%%'"
bind w new-window -c "#{pane_current_path}"
bind -n M-j previous-window
bind -n M-k next-window

# copy mode
set-window-option -g mode-keys vi
unbind -T copy-mode-vi Space; # default for begin copy
unbind -T copy-mode-vi Enter; # default for copy selection
bind -T copy-mode-vi v send -X begin-selection

{{- $copy := "xsel --clipboard" }}
{{- $paste := "xsel -b"}}
{{- if eq .tools.clipboard "wl-copy" }}
  {{- $copy = "wl-copy" }}
  {{- $paste = "wl-paste"}}
{{- end }}
bind -T copy-mode-vi y send -X copy-selection-and-cancel "{{ $copy }}"
bind C-S-c run 'tmux save-buffer - | {{ $copy }}'
bind C-S-v run 'tmux set-buffer "{{ $paste }}"; tmux paste-buffer'

# new clear screen
bind C-l send-keys 'C-l'

# reload configuration
unbind r
bind r source-file ~/.tmux.conf \; display-message "Reloaded!"

# open my general notes
bind -n C-M-n split-window -h "lvim -c 'cd {{ .tmux.notesDir }}' {{ .tmux.notesDir }}/{{ .tmux.notesFile }}"

###############
### PLUGINS ###
###############

# List of plugins
set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'tmux-plugins/tmux-sensible'
set -g @plugin 'tmux-plugins/tmux-cowboy'
set -g @plugin 'tmux-plugins/tmux-copycat'
set -g @plugin 'tmux-plugins/tmux-open'
set -g @plugin 'tmux-plugins/tmux-urlview'
set -g @plugin 'laktak/extrakto'
#set -g @plugin "janoamaral/tokyo-night-tmux"
set -g @plugin "arcticicestudio/nord-tmux"

# Add more plugins below this line
# Plugin to save and restore tmux sessions after restart
# * Save with: prefix + Ctrl-s
# * Restore with: prefix + Ctlr-r
set -g @plugin 'tmux-plugins/tmux-resurrect'
  # restore vim and nvim sessions as well
  # for vim
  set -g @resurrect-strategy-vim 'session'
  # for neovim
  set -g @resurrect-strategy-nvim 'session'

# I think continuous save and auto restore can 
# be annoying, enable here if you want it
#set -g @plugin 'tmux-plugins/tmux-continuum'
#  # Automatic restore
#  set -g @continuum-restore 'on'

# Integration with Vim for panel navigation
set -g @plugin 'christoomey/vim-tmux-navigator'

# Initialize TMUX plugin manager (keep this line at the very bottom of tmux.conf)
# To install: PREFIX+SHIFT+i
run -b "$HOME/.tmux/plugins/tpm/tpm"
